name: Deploy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 30

    env:
      TZ: Asia/Tokyo

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Use Node
        uses: actions/setup-node@v6
        with:
          node-version: "22.x"

      - run: bun install

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "arn:aws:iam::660782280015:role/play-devops-agents-deploy-role"
          aws-region: us-east-1

      - run: |
          cd packages/cdk
          bun run cdk deploy PlayDevopsAgentsStack
